 #containerBody { 
	 background-color: #FFE534;
	 width: 400px;
	 height: 365px;
	 border-radius: 7px;
	   box-shadow: 0px 4px 0px #AE9B18;
	 }
	 #rass {
		 font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	   font-size: 22px;
		 display: inline-block;
		margin: 12px 0px 0px 15px;
		 } 
		 input {  
			 border:   grey;
			 border-style: solid;
			border-width: 1px 1px 1px 1px;
			 border-radius: 3px;
			  line-height: 24px;
			 height: 28px;
			 margin:  0px 30px  0 0;
			 padding: 0px 0px 0 15px;
			 float: right;
			 width: 130px;
				-webkit-appearance: none;
		-webkit-border-radius: 5px;
			 }
			 form p { 
				 padding-bottom: 6px;
				 font-size: 17px;
				 margin-left: 15px;
				font-family: 'Source Sans Pro', sans-serif;
				 }
				 hr {
					 height: 1px;
					 width: 93%;
					 background-color: black;
					 color: black;
						border: 0;
					 }
				 
					 #r1,#r2,#r3 {    
						 position: absolute;
						 line-height: 32.85px;
						font-size: 24px; 
						 font-weight: bold;
					font-family: 'Open Sans', sans-serif; 
						font-weight: 600;
						font-size: 24px;  
					 }
					 #r1 { 
						 margin-top: 4px;
						margin-left: 38px;
						 position: absolute;
						 }
					 #r2 {  
						 margin-top: 4px;
						margin-left: 165px;
						 position: absolute;
						 }
						  #r3 { 
						 margin-top: 4px;
						 position: absolute;
						margin-left: 305px;
						 }
						 #about1,#about2,#about3 {
							 font-weight: normal;
							 font-size: 11px;
							 }
							 #about1 {
						 position: absolute;
								 margin: 37px 0 0 38px;
								 }
								  #about2 {
						 position: absolute;
								 margin: 37px 0px 0 182px;
								 }
								  #about3 {
						 position: absolute;
								   margin: 37px 30px 0 276px;
								 }
								   
								 .podcherkivanie  { 
				transition: color 0.5s; 
				color: red;
 }